.login-box {
  width: 400px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.login-box h1 {
  margin-bottom: 10px; 
  color: #333;
  font-size: 30px;
  text-align: center;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: calc(100% - 40px);
  padding: 20px 15px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 10px;
  margin-top: 30px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

button {
  width: calc(100% - 80px);
  padding: 15px 20px;
  margin: 30px auto 0;
  display: block;
  border: none;
  border-radius: 5px;
  background-color: #F2CB61;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.login-box span {
  color: red;
  font-size: 14px;
  vertical-align: top;
  position: absolute;
}

button:hover {
  background-color: #CCA63D;
}

/* 링크 컨테이너의 정렬 */
.link-container {
  text-align: center;
  margin-top: 10px;
}

/* 회원가입 링크 스타일 */
.signup-link {
  color: #050099
}

/* 회원가입 링크 호버 효과 */
.signup-link:hover {
  text-decoration: underline;
}

/* 비밀번호 찾기 링크 스타일 */
.forgot-password-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}