@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.mypage-box {
  width: 500px;
  height: 300px;
  margin: 75px auto 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  background-color: #fff;
  margin-top: 80px;
}

.mypage-box h1 {
  margin-top: 0;
  font-size: 28px;
  color: #333;
}

.mypage-box label {
  display: inline-block;
  width: 60px; 
  margin-right: 10px;
  font-size: 18px;
  color: #333;
}

.mypage-box #username {
  width: calc(50% - 50px);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-right: 50px;
}

.mypage-box #email {
  width: calc(50% - 50px);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 50px;
}

.mypage-button-container {
  display: flex;
  align-items: center;
}

.logout-button,
.withdraw-button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vertical-separator {
  height: 30px;
  width: 1px;
  background-color: #ccc;
  margin: 0 16px;
  margin-top: 30px;
}

.logout-button:hover,
.withdraw-button:hover {
  background-color: #CCA63D;
}