.forgot-password-box {
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input {
    width: 250px;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: -10px;
  }
  
  .input-group input[type="password"] {
    margin-top: 10px;
  }
  
  .fp-button {
    width: 140px;
    margin-top: 8px;
    padding: 10px;
    background-color: #F2CB61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .fp-button:hover {
    background-color: #CCA63D;
  }
  
  .message {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }

  .fp-input-group {
    margin-bottom: 10px; /* 각 입력 필드 박스 사이의 간격을 설정합니다. */
  }
  
  .fp-input {
    width: 250px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }