.board {
  text-align: center;
  margin-top: 20px;
}

.post-button-container {
  position: fixed;
  top: 160px;
  right: 73px;
}

.board-number-cell {
  text-align: center;
}

.board-title-cell {
  text-align: center;
}

.board-author-cell {
  text-align: center;
}

.board-date-cell {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 180px auto;
  width: 80%;
  position: fixed;
  top: 35px;
  left: calc(50% + 340px);
  transform: translateX(-50%);
}

.search-input {
  width: 100%;
  max-width: 200px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.sidebar-toggle-button {
  width: 80px;
  position: absolute;
  top: -25px;
  left: -5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.sidebar-toggle-button img {
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.sidebar-toggle-button:hover {
  background-color: transparent;
}

/* 카테고리 버튼 스타일 */
.category-buttons {
  display: flex;
  justify-content: flex-start;
  margin: 50px;
  margin-bottom: 10px;
  width: 70%;
  margin-left: 20%;
}

.category-button {
  position: relative;
  width: 70px;
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 17px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: color 0.3s;
}

.category-button:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.category-button.active:after {
  background-color: #F2CB61;
}

.category-button:hover {
  color: black;
}

.category-button:hover:after {
  background-color: transparent;
}

/* 페이지네이션 버튼 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-number {
  width: 35px;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-number.active {
  background-color: #F2CB61;
  color: white; 
}

.page-number:hover {
  background-color: #ddd;
}