@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 180px;
    height: 100%;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.visible {
    left: 0;
  }
  
  .sidebar-img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-left: -5px;
    cursor: pointer;
  }

  .news-button {
    width: 100%;
    padding: 10px;
    margin-top: 150px;
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .news-button:hover {
    background-color: transparent;
  }

  .chat-button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .chat-button:hover {
    background-color: transparent;
  }

  .weather-button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .weather-button:hover {
    background-color: transparent;
  }

  .information-button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .information-button:hover {
    background-color: transparent;
  }

  .mypage-button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    font-size: 25px;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
  }
  
  .mypage-button:hover {
    background-color: transparent;
  }